:root {
    /* Color */
    --primary: #363636; /* lihgt */
    --secondary: #f0f0f0; /* muted */
    --tertiary: #e8c4b8;
    --success: #22bb33;
    --danger: #bb2124;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    /*--dark: #343a40;*/
    --dark: #343a40;
    --muted: #6c757d;
    --faint: #8e98a1;
    --white: #fff;
    /* Gray */
    /*--border-light: #ccc;
    --border-muted: #aaa;
    --boder-dark: #888;*/

    /* Style */
    --horizontal-space: 25px;
    --main-border: 1px solid #ccc;
    --sub-border: 1px solid #f0f0f0;

    /* Font-size */
    --h1: 2em;
    --h2: 1.6em;
    --h3: 1.3em;
    --h4: 1.2em;
    --h5: .9em;
    --h6: .75em;
}
/* ccc < aaa < 888*/