.user-component__subtitle .fa-circle-check {
    margin-left: 3px;
}

.fa-toggle-on {
    color: var(--tertiary);
}

.more-suggestions {
    border-top: var(--main-border);
    padding: 15px 0;
}

.more-suggestions__title {
    color: var(--muted);
    font-size: var(--h6);
}

.more-suggestions__icons {
    width: 100%;
    display: flex;
    margin-top: 15px;
    text-align: center;
    flex-flow: row wrap;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.more-suggestions__icon-image {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;

}

.more-suggestions__icon-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}