.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen-header__title {
    font-size: var(--h1);
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons a {
    position: relative;
}

.screen-header__icons_update {
    right: -9px;
    top: -2px;
}


/*@keyframes settingAnimation {
    0% {
        transform: translateX(0) rotateZ(0);
    }

    100% {
        transform: translateX(-7px) rotateZ(-180deg);
    }

    0% {
        transform: translateX(0) rotateZ(0);
    }
}*/

@keyframes settingAnimation {
    0% {
        transform: translateX(0) rotateZ(0);
    }

    50% {
        transform: translateX(-7px) rotateZ(-180deg);
    }

    0% {
        transform: translateX(0) rotateZ(0);
    }

}


.screen-header__icons a:hover .fa-gear {
    animation: settingAnimation 1s ease-in-out forwards;
    color: var(--tertiary);
}